$theme-colors: ("lightRed": #C42D40, "darkRed": #B12A3B, "dark": black, "light": white, "newLight": rgba(255, 255, 255, 0.999));

.myFont{
    font-family: 'Courgette', cursive;
}

body{
    background-image: url("../img/main_bg.jpg");
}

.our{
    font-size: 60px;
}

.rest{
    font-size: 40px;
}